body {
    background-color: #fff8ef;
    font-size: 12px;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei"
}

#logo-img {
    width: 10.5rem;
    height: 3.5rem;
    margin: auto;
    position: absolute;
    top: 2rem; left: 0; right: 0;
}
.tip-box{
    text-align: center;
    width: 18rem;
    height: 1.67rem;
    margin: auto;
    position: absolute;
    top: 7rem; left: 0; right: 0;
    font-size: 1.3rem;
}
#tips-eng{
    font-size: 0.4rem;
}
.right-img-yong{
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 1rem;
    top:14rem;
}
.left-img-yi{
    width: 8rem;
    height: 8rem;
    position: absolute;
    right: 1rem;
    top:14rem;
}
.btn-box{
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:27rem;
}
.btn-img{
    width: 18rem;

}
.success-box{
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    font-size: 3.3rem;
    top:10rem;
}
.hua-img-box{
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top:20rem;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {-webkit-transform: rotate(180deg);}
}

/* Standard syntax */
@keyframes mymove {
    50% {transform: rotate(365deg);}
}
